In [134]:
from pandas.io.json import json_normalize
import requests
import pandas as pd
import numpy as np
import time
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [132]:
myapi='RGAPI-a4194c46-bfeb-49c2-84dc-318a59b9fa65'

In [3]:
Path='/content/gdrive/My Drive/grandmastermatchdp.csv'

In [138]:
gameid=pd.read_csv(Path)

# 새 섹션

In [116]:
import os

In [117]:
os.getcwd()

'/content'

In [139]:
Data=pd.DataFrame()
for i in range(200):
  try:
    PATHDT='https://kr.api.riotgames.com/lol/match/v4/matches/'+str(gameid['gameId'].iloc[i])+'?api_key='+myapi
    r4=requests.get(PATHDT)
    Data=pd.concat([Data,pd.DataFrame(r4.json().values(),index=r4.json().keys()).T])
    time.sleep(3)
  except:
    pass

In [140]:
Data

        gameId  ...                              participantIdentities
0   5084101864  ...  [{'participantId': 1, 'player': {'platformId':...
0   5083252026  ...  [{'participantId': 1, 'player': {'platformId':...
0   5083168670  ...  [{'participantId': 1, 'player': {'platformId':...
0   5083146285  ...  [{'participantId': 1, 'player': {'platformId':...
0   5083140257  ...  [{'participantId': 1, 'player': {'platformId':...
..         ...  ...                                                ...
0   5056370371  ...  [{'participantId': 1, 'player': {'platformId':...
0   5056190855  ...  [{'participantId': 1, 'player': {'platformId':...
0   5055896953  ...  [{'participantId': 1, 'player': {'platformId':...
0   5055789004  ...  [{'participantId': 1, 'player': {'platformId':...
0   5044272558  ...  [{'participantId': 1, 'player': {'platformId':...

[200 rows x 13 columns]

In [141]:
import pickle as pk

In [146]:
with open('grand.pkl', 'wb') as f:
  pk.dump(Data, f, protocol=pk.HIGHEST_PROTOCOL)

In [190]:
with open('grand.pkl', 'rb') as f:
	data = pk.load(f)

In [148]:
data.keys()

Index(['gameId', 'platformId', 'gameCreation', 'gameDuration', 'queueId',
       'mapId', 'seasonId', 'gameVersion', 'gameMode', 'gameType', 'teams',
       'participants', 'participantIdentities'],
      dtype='object')

In [149]:
teams=list(data['teams'])

In [150]:
teams[1]

[{'bans': [{'championId': 18, 'pickTurn': 1},
   {'championId': 76, 'pickTurn': 2},
   {'championId': 412, 'pickTurn': 3},
   {'championId': 246, 'pickTurn': 4},
   {'championId': 150, 'pickTurn': 5}],
  'baronKills': 0,
  'dominionVictoryScore': 0,
  'dragonKills': 0,
  'firstBaron': False,
  'firstBlood': True,
  'firstDragon': False,
  'firstInhibitor': False,
  'firstRiftHerald': False,
  'firstTower': False,
  'inhibitorKills': 0,
  'riftHeraldKills': 0,
  'teamId': 100,
  'towerKills': 1,
  'vilemawKills': 0,
  'win': 'Fail'},
 {'bans': [{'championId': 77, 'pickTurn': 6},
   {'championId': 120, 'pickTurn': 7},
   {'championId': 38, 'pickTurn': 8},
   {'championId': 421, 'pickTurn': 9},
   {'championId': 246, 'pickTurn': 10}],
  'baronKills': 1,
  'dominionVictoryScore': 0,
  'dragonKills': 2,
  'firstBaron': True,
  'firstBlood': False,
  'firstDragon': True,
  'firstInhibitor': True,
  'firstRiftHerald': True,
  'firstTower': True,
  'inhibitorKills': 3,
  'riftHeraldKills': 2,
  'teamId': 200,
  'towerKills': 11,
  'vilemawKills': 0,
  'win': 'Win'}]

In [151]:
teams[0][0].values()

dict_values([100, 'Fail', False, False, False, True, False, False, 1, 0, 1, 0, 0, 0, 0, [{'championId': 145, 'pickTurn': 1}, {'championId': 76, 'pickTurn': 2}, {'championId': 142, 'pickTurn': 3}, {'championId': 234, 'pickTurn': 4}, {'championId': 58, 'pickTurn': 5}]])

In [152]:
teams1=pd.DataFrame()
teams2=pd.DataFrame()

In [153]:
for i in range(len(teams)):
  try:
    teams[i][0].pop('bans',None)
    teams1=teams1.append(pd.DataFrame(teams[i][0].values(),index=teams[i][0].keys()).T)
  except:
    pass
for i in range(len(teams)):
  try:
    teams[i][1].pop('bans',None)
    teams2=teams2.append(pd.DataFrame(teams[i][1].values(),index=teams[i][1].keys()).T)
  except:
    pass

In [154]:
teams1

   teamId   win firstBlood  ... vilemawKills riftHeraldKills dominionVictoryScore
0     100  Fail      False  ...            0               0                    0
0     100  Fail       True  ...            0               0                    0
0     100  Fail       True  ...            0               0                    0
0     100   Win      False  ...            0               1                    0
0     100  Fail      False  ...            0               0                    0
..    ...   ...        ...  ...          ...             ...                  ...
0     100  Fail      False  ...            0               0                    0
0     100  Fail      False  ...            0               1                    0
0     100  Fail      False  ...            0               0                    0
0     100  Fail      False  ...            0               0                    0
0     100   Win      False  ...            0               2                    0

[200 rows x 15 columns]

In [155]:
teams2

   teamId   win firstBlood  ... vilemawKills riftHeraldKills dominionVictoryScore
0     200   Win       True  ...            0               2                    0
0     200   Win      False  ...            0               2                    0
0     200   Win      False  ...            0               2                    0
0     200  Fail       True  ...            0               0                    0
0     200   Win       True  ...            0               2                    0
..    ...   ...        ...  ...          ...             ...                  ...
0     200   Win       True  ...            0               1                    0
0     200   Win       True  ...            0               1                    0
0     200   Win       True  ...            0               2                    0
0     200   Win       True  ...            0               1                    0
0     200  Fail       True  ...            0               0                    0

[200 rows x 15 columns]

In [156]:
teamdata=pd.DataFrame()
teamdata=pd.concat([teams1,teams2])

In [157]:
teamdata

   teamId   win firstBlood  ... vilemawKills riftHeraldKills dominionVictoryScore
0     100  Fail      False  ...            0               0                    0
0     100  Fail       True  ...            0               0                    0
0     100  Fail       True  ...            0               0                    0
0     100   Win      False  ...            0               1                    0
0     100  Fail      False  ...            0               0                    0
..    ...   ...        ...  ...          ...             ...                  ...
0     200   Win       True  ...            0               1                    0
0     200   Win       True  ...            0               1                    0
0     200   Win       True  ...            0               2                    0
0     200   Win       True  ...            0               1                    0
0     200  Fail       True  ...            0               0                    0

[400 rows x 15 columns]

In [158]:
with open('teamdata.pkl', 'wb') as f:
  pk.dump(teamdata, f, protocol=pk.HIGHEST_PROTOCOL)

In [159]:
with open('teamdata.pkl', 'rb') as f:
	teamdata = pk.load(f)

In [160]:
teamdata.keys()

Index(['teamId', 'win', 'firstBlood', 'firstTower', 'firstInhibitor',
       'firstBaron', 'firstDragon', 'firstRiftHerald', 'towerKills',
       'inhibitorKills', 'baronKills', 'dragonKills', 'vilemawKills',
       'riftHeraldKills', 'dominionVictoryScore'],
      dtype='object')

In [161]:
teamdata

   teamId   win firstBlood  ... vilemawKills riftHeraldKills dominionVictoryScore
0     100  Fail      False  ...            0               0                    0
0     100  Fail       True  ...            0               0                    0
0     100  Fail       True  ...            0               0                    0
0     100   Win      False  ...            0               1                    0
0     100  Fail      False  ...            0               0                    0
..    ...   ...        ...  ...          ...             ...                  ...
0     200   Win       True  ...            0               1                    0
0     200   Win       True  ...            0               1                    0
0     200   Win       True  ...            0               2                    0
0     200   Win       True  ...            0               1                    0
0     200  Fail       True  ...            0               0                    0

[400 rows x 15 columns]

In [162]:
del data['gameCreation']
del data['platformId']
del data['gameMode']
del data['mapId']
del data['gameType']
del data['queueId']

In [163]:
data

        gameId  ...                              participantIdentities
0   5084101864  ...  [{'participantId': 1, 'player': {'platformId':...
0   5083252026  ...  [{'participantId': 1, 'player': {'platformId':...
0   5083168670  ...  [{'participantId': 1, 'player': {'platformId':...
0   5083146285  ...  [{'participantId': 1, 'player': {'platformId':...
0   5083140257  ...  [{'participantId': 1, 'player': {'platformId':...
..         ...  ...                                                ...
0   5056370371  ...  [{'participantId': 1, 'player': {'platformId':...
0   5056190855  ...  [{'participantId': 1, 'player': {'platformId':...
0   5055896953  ...  [{'participantId': 1, 'player': {'platformId':...
0   5055789004  ...  [{'participantId': 1, 'player': {'platformId':...
0   5044272558  ...  [{'participantId': 1, 'player': {'platformId':...

[200 rows x 7 columns]

In [164]:
participant=list(data['participants'])

In [165]:
len(participant)
participant[0][0]

{'championId': 60,
 'participantId': 1,
 'spell1Id': 11,
 'spell2Id': 4,
 'stats': {'assists': 6,
  'champLevel': 12,
  'combatPlayerScore': 0,
  'damageDealtToObjectives': 7418,
  'damageDealtToTurrets': 0,
  'damageSelfMitigated': 11053,
  'deaths': 7,
  'doubleKills': 0,
  'firstBloodAssist': False,
  'firstBloodKill': False,
  'firstInhibitorAssist': False,
  'firstInhibitorKill': False,
  'firstTowerAssist': False,
  'firstTowerKill': False,
  'goldEarned': 8662,
  'goldSpent': 8285,
  'inhibitorKills': 0,
  'item0': 4636,
  'item1': 3157,
  'item2': 0,
  'item3': 1052,
  'item4': 0,
  'item5': 3020,
  'item6': 3364,
  'killingSprees': 1,
  'kills': 3,
  'largestCriticalStrike': 0,
  'largestKillingSpree': 2,
  'largestMultiKill': 1,
  'longestTimeSpentLiving': 649,
  'magicDamageDealt': 70884,
  'magicDamageDealtToChampions': 12034,
  'magicalDamageTaken': 6688,
  'neutralMinionsKilled': 95,
  'neutralMinionsKilledEnemyJungle': 9,
  'neutralMinionsKilledTeamJungle': 63,
  'objectivePlayerScore': 0,
  'participantId': 1,
  'pentaKills': 0,
  'perk0': 8005,
  'perk0Var1': 529,
  'perk0Var2': 388,
  'perk0Var3': 140,
  'perk1': 9111,
  'perk1Var1': 158,
  'perk1Var2': 180,
  'perk1Var3': 0,
  'perk2': 9104,
  'perk2Var1': 11,
  'perk2Var2': 40,
  'perk2Var3': 0,
  'perk3': 8014,
  'perk3Var1': 265,
  'perk3Var2': 0,
  'perk3Var3': 0,
  'perk4': 8138,
  'perk4Var1': 18,
  'perk4Var2': 0,
  'perk4Var3': 0,
  'perk5': 8105,
  'perk5Var1': 13,
  'perk5Var2': 5,
  'perk5Var3': 0,
  'perkPrimaryStyle': 8000,
  'perkSubStyle': 8100,
  'physicalDamageDealt': 19114,
  'physicalDamageDealtToChampions': 1150,
  'physicalDamageTaken': 15771,
  'playerScore0': 0,
  'playerScore1': 0,
  'playerScore2': 0,
  'playerScore3': 0,
  'playerScore4': 0,
  'playerScore5': 0,
  'playerScore6': 0,
  'playerScore7': 0,
  'playerScore8': 0,
  'playerScore9': 0,
  'quadraKills': 0,
  'sightWardsBoughtInGame': 0,
  'statPerk0': 5005,
  'statPerk1': 5008,
  'statPerk2': 5002,
  'timeCCingOthers': 21,
  'totalDamageDealt': 95481,
  'totalDamageDealtToChampions': 13545,
  'totalDamageTaken': 23917,
  'totalHeal': 8446,
  'totalMinionsKilled': 31,
  'totalPlayerScore': 0,
  'totalScoreRank': 0,
  'totalTimeCrowdControlDealt': 109,
  'totalUnitsHealed': 1,
  'tripleKills': 0,
  'trueDamageDealt': 5482,
  'trueDamageDealtToChampions': 360,
  'trueDamageTaken': 1458,
  'turretKills': 0,
  'unrealKills': 0,
  'visionScore': 38,
  'visionWardsBoughtInGame': 7,
  'wardsKilled': 14,
  'wardsPlaced': 7,
  'win': False},
 'teamId': 100,
 'timeline': {'creepsPerMinDeltas': {'0-10': 0.6, '10-20': 1.2999999999999998},
  'csDiffPerMinDeltas': {'0-10': -0.7, '10-20': 0.3},
  'damageTakenDiffPerMinDeltas': {'0-10': -244.2, '10-20': 87.70000000000005},
  'damageTakenPerMinDeltas': {'0-10': 500.40000000000003, '10-20': 987.6},
  'goldPerMinDeltas': {'0-10': 328.2, '10-20': 291.9},
  'lane': 'JUNGLE',
  'participantId': 1,
  'role': 'NONE',
  'xpDiffPerMinDeltas': {'0-10': -48.900000000000006,
   '10-20': -195.59999999999997},
  'xpPerMinDeltas': {'0-10': 363.3, '10-20': 403.3}}}

In [166]:
participant[0][0].keys()

dict_keys(['participantId', 'teamId', 'championId', 'spell1Id', 'spell2Id', 'stats', 'timeline'])

In [167]:
participant[199][9].values()

dict_values([10, 200, 555, 14, 4, {'participantId': 10, 'win': False, 'item0': 3857, 'item1': 3117, 'item2': 2003, 'item3': 3179, 'item4': 6691, 'item5': 3134, 'item6': 3364, 'kills': 4, 'deaths': 7, 'assists': 6, 'largestKillingSpree': 2, 'largestMultiKill': 1, 'killingSprees': 1, 'longestTimeSpentLiving': 259, 'doubleKills': 0, 'tripleKills': 0, 'quadraKills': 0, 'pentaKills': 0, 'unrealKills': 0, 'totalDamageDealt': 21542, 'magicDamageDealt': 45, 'physicalDamageDealt': 12958, 'trueDamageDealt': 8538, 'largestCriticalStrike': 0, 'totalDamageDealtToChampions': 5577, 'magicDamageDealtToChampions': 45, 'physicalDamageDealtToChampions': 3660, 'trueDamageDealtToChampions': 1871, 'totalHeal': 2107, 'totalUnitsHealed': 1, 'damageSelfMitigated': 9923, 'damageDealtToObjectives': 775, 'damageDealtToTurrets': 653, 'visionScore': 75, 'timeCCingOthers': 19, 'totalDamageTaken': 13868, 'magicalDamageTaken': 3733, 'physicalDamageTaken': 9851, 'trueDamageTaken': 284, 'goldEarned': 9508, 'goldSpent': 8950, 'turretKills': 0, 'inhibitorKills': 0, 'totalMinionsKilled': 46, 'neutralMinionsKilled': 0, 'neutralMinionsKilledTeamJungle': 0, 'neutralMinionsKilledEnemyJungle': 0, 'totalTimeCrowdControlDealt': 79, 'champLevel': 12, 'visionWardsBoughtInGame': 6, 'sightWardsBoughtInGame': 0, 'wardsPlaced': 36, 'wardsKilled': 19, 'firstBloodKill': False, 'firstBloodAssist': False, 'firstTowerKill': False, 'firstTowerAssist': False, 'firstInhibitorKill': False, 'firstInhibitorAssist': False, 'combatPlayerScore': 0, 'objectivePlayerScore': 0, 'totalPlayerScore': 0, 'totalScoreRank': 0, 'playerScore0': 0, 'playerScore1': 0, 'playerScore2': 0, 'playerScore3': 0, 'playerScore4': 0, 'playerScore5': 0, 'playerScore6': 0, 'playerScore7': 0, 'playerScore8': 0, 'playerScore9': 0, 'perk0': 8439, 'perk0Var1': 122, 'perk0Var2': 0, 'perk0Var3': 0, 'perk1': 8446, 'perk1Var1': 237, 'perk1Var2': 0, 'perk1Var3': 0, 'perk2': 8473, 'perk2Var1': 336, 'perk2Var2': 0, 'perk2Var3': 0, 'perk3': 8242, 'perk3Var1': 48, 'perk3Var2': 0, 'perk3Var3': 0, 'perk4': 9111, 'perk4Var1': 166, 'perk4Var2': 200, 'perk4Var3': 0, 'perk5': 8014, 'perk5Var1': 33, 'perk5Var2': 0, 'perk5Var3': 0, 'perkPrimaryStyle': 8400, 'perkSubStyle': 8000, 'statPerk0': 5008, 'statPerk1': 5002, 'statPerk2': 5003}, {'participantId': 10, 'creepsPerMinDeltas': {'10-20': 2.2, '0-10': 1.3}, 'xpPerMinDeltas': {'10-20': 364.3, '0-10': 238.89999999999998}, 'goldPerMinDeltas': {'10-20': 386.8, '0-10': 167.3}, 'csDiffPerMinDeltas': {'10-20': -0.3999999999999999, '0-10': -1.1999999999999997}, 'xpDiffPerMinDeltas': {'10-20': -98.29999999999998, '0-10': -17.34999999999998}, 'damageTakenPerMinDeltas': {'10-20': 453.4, '0-10': 347.3}, 'damageTakenDiffPerMinDeltas': {'10-20': -232.25000000000006, '0-10': -5.849999999999994}, 'role': 'DUO_SUPPORT', 'lane': 'BOTTOM'}])

In [168]:
len(participant[0])

10

In [169]:
for k in range(len(participant[1])):
  print('k:'+str(k))

k:0
k:1
k:2
k:3
k:4
k:5
k:6
k:7
k:8
k:9

In [170]:
pers=pd.DataFrame()
for i in range(len(participant)):
  try:
    for k in range(len(participant[0])):
      pers=pd.concat([pers,pd.DataFrame(participant[i][k].values(),index=participant[i][k].keys()).T])
  except:
    pass

In [171]:
pers

   participantId  ...                                           timeline
0              1  ...  {'participantId': 1, 'creepsPerMinDeltas': {'1...
0              2  ...  {'participantId': 2, 'creepsPerMinDeltas': {'1...
0              3  ...  {'participantId': 3, 'creepsPerMinDeltas': {'1...
0              4  ...  {'participantId': 4, 'creepsPerMinDeltas': {'1...
0              5  ...  {'participantId': 5, 'creepsPerMinDeltas': {'1...
..           ...  ...                                                ...
0              6  ...  {'participantId': 6, 'creepsPerMinDeltas': {'1...
0              7  ...  {'participantId': 7, 'creepsPerMinDeltas': {'1...
0              8  ...  {'participantId': 8, 'creepsPerMinDeltas': {'1...
0              9  ...  {'participantId': 9, 'creepsPerMinDeltas': {'1...
0             10  ...  {'participantId': 10, 'creepsPerMinDeltas': {'...

[2000 rows x 7 columns]

In [172]:
del pers['spell1Id']
del pers['spell2Id']

In [173]:
with open('persdata.pkl', 'wb') as f:
  pk.dump(pers, f, protocol=pk.HIGHEST_PROTOCOL)

In [174]:
with open('persdata.pkl', 'rb') as f:
  pers=pk.load(f)

In [175]:
pers

   participantId  ...                                           timeline
0              1  ...  {'participantId': 1, 'creepsPerMinDeltas': {'1...
0              2  ...  {'participantId': 2, 'creepsPerMinDeltas': {'1...
0              3  ...  {'participantId': 3, 'creepsPerMinDeltas': {'1...
0              4  ...  {'participantId': 4, 'creepsPerMinDeltas': {'1...
0              5  ...  {'participantId': 5, 'creepsPerMinDeltas': {'1...
..           ...  ...                                                ...
0              6  ...  {'participantId': 6, 'creepsPerMinDeltas': {'1...
0              7  ...  {'participantId': 7, 'creepsPerMinDeltas': {'1...
0              8  ...  {'participantId': 8, 'creepsPerMinDeltas': {'1...
0              9  ...  {'participantId': 9, 'creepsPerMinDeltas': {'1...
0             10  ...  {'participantId': 10, 'creepsPerMinDeltas': {'...

[2000 rows x 5 columns]

In [176]:
partiden=list(data['participantIdentities'])

In [177]:
print(len(partiden))
print(len(partiden[0]))

200
10

In [178]:
partiden[0][9]

{'participantId': 10,
 'player': {'accountId': 'd7YKJiWoU-RrC8_CYzbU3IaLd_9Mav3bzuhaHuCuF9Sk5MctXrrdYYUS',
  'currentAccountId': 'd7YKJiWoU-RrC8_CYzbU3IaLd_9Mav3bzuhaHuCuF9Sk5MctXrrdYYUS',
  'currentPlatformId': 'KR',
  'matchHistoryUri': '/v1/stats/player_history/KR/2508776231233216',
  'platformId': 'KR',
  'profileIcon': 934,
  'summonerId': 'v7DeUvPjRdFswP-fCnwIvgxDN-PEYJthMP61pQ5CP-1lGC-T',
  'summonerName': '정흠이'}}

In [179]:
persid=pd.DataFrame()

In [180]:
persid=pd.DataFrame()
for i in range(len(partiden)):
  try:
    for k in range(len(partiden[0])):
      persid=pd.concat([persid,pd.DataFrame(partiden[i][k].values(),index=partiden[i][k].keys()).T])
      print(DataFrame(partiden[i][k].values()))
  except:
    pass

In [181]:
persid

   participantId                                             player
0              1  {'platformId': 'KR', 'accountId': 'ZUehY28hu6b...
0              1  {'platformId': 'KR', 'accountId': 'mUXDO_ZRkXW...
0              1  {'platformId': 'KR', 'accountId': '8iiLNsrzge3...
0              1  {'platformId': 'KR', 'accountId': 'CG59FpSR-w4...
0              1  {'platformId': 'KR', 'accountId': '3wNcAEnM5o3...
..           ...                                                ...
0              1  {'platformId': 'KR', 'accountId': '9TmuQKhnMbN...
0              1  {'platformId': 'KR', 'accountId': '4eyaW7q_POZ...
0              1  {'platformId': 'KR', 'accountId': '3fqYvaJLsTk...
0              1  {'platformId': 'KR', 'accountId': 'yUd7wLdRAA-...
0              1  {'platformId': 'KR', 'accountId': 'wtSTy29C7xx...

[200 rows x 2 columns]

In [182]:
persid['player'].iloc[0]

{'accountId': 'ZUehY28hu6b9UNqQ_Xz_ZOoCeevi3sbZ55bW0IUkYfnncsEN6wmO1o6y',
 'currentAccountId': 'ZUehY28hu6b9UNqQ_Xz_ZOoCeevi3sbZ55bW0IUkYfnncsEN6wmO1o6y',
 'currentPlatformId': 'KR',
 'matchHistoryUri': '/v1/stats/player_history/KR/2645198175094240',
 'platformId': 'KR',
 'profileIcon': 549,
 'summonerId': 'JgjxxPBvJxrbobPCXj_3JPwsVTD9MRIFzGdQ5IS7RqKyn8sVU9jg80UceQ',
 'summonerName': 'Gdlovestory'}

In [183]:
identity=pd.DataFrame()
for i in range(len(persid)):
  identity=pd.concat([identity,pd.DataFrame(persid['player'].iloc[i].values(),index=persid['player'].iloc[i].keys()).T])

In [184]:
identity

   platformId  ... profileIcon
0          KR  ...         549
0          KR  ...        4815
0          KR  ...        4896
0          KR  ...          29
0          KR  ...        4027
..        ...  ...         ...
0          KR  ...        4248
0          KR  ...        4544
0          KR  ...        4655
0          KR  ...        1392
0          KR  ...        4363

[200 rows x 8 columns]

In [185]:
with open('identity.pkl', 'wb') as f:
  pk.dump(identity, f, protocol=pk.HIGHEST_PROTOCOL)

In [186]:
with open('identity.pkl','rb') as f:
  identity=pk.load(f)

In [187]:
identity

   platformId  ... profileIcon
0          KR  ...         549
0          KR  ...        4815
0          KR  ...        4896
0          KR  ...          29
0          KR  ...        4027
..        ...  ...         ...
0          KR  ...        4248
0          KR  ...        4544
0          KR  ...        4655
0          KR  ...        1392
0          KR  ...        4363

[200 rows x 8 columns]